doctype html
html
  head
    title= title
    link(rel='stylesheet', href='/stylesheets/style.css')
  body
    nav 
      ul 
        li 
          a(href="/crear") Crear Tarjeta
          a(href="/cerrar-sesion") Cerrar Sesion
    
    block content
